.sidebarWrapper {
  height: 100vh;
  width: 15vw;
  overflow-y: scroll;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  .sidebarOptions {
    display: flex;
    margin-left: 10px;
    align-items: center;
    justify-content: start;
    padding: 0;
    padding-left: 10px;
    border-radius: 10px;
    transition: all 200ms ease-in-out;
    width: 200px;
    cursor: pointer;
    height: 50px;
    &:hover {
      background-color: rgba(128, 0, 128, 0.416);
    }
  }
}
